:root{
    --azulGelo: #b3cff2;
    --azulMediano: #3045BF;
    --azulMarinho: #070540;
    --azulEscuro: #262EBF;
}

*{
    margin: auto;
    padding: 0;
    text-decoration: none;
    border: black, 1px;
    color: #b3cff2;
}



body{
    background-color: var(--azulGelo);
}

tr{
    background-color: #070540;
    color: white;
    border: 1px;
    border-color: #b3cff2;
}

