{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block style %}
        <link rel="icon" type="image/x-icon" href="{% static 'img/logo_title.png' %}" />
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
        {% endblock style%}

        <title>NeSys</title>
        
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5 fixed-top">
            <div class="container-fluid row">
                <img class="img-fluid col-2" src="{% static 'img/logo_navbar.png' %}"/>
                <button class="navbar-toggler col" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 col-10">
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="/cidade">Cidades</a></li>
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="/necessitado">Necessitados</a></li>
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="/profissao">Profissão</a></li>
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="/genero">Gênero</a></li>
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="/idade">Idade</a></li>
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="/ongs">ONGs</a></li>
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="/situacao">Situação</a></li>
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="/estado">Estado</a></li> 
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="/notificacao">Notificação</a></li>
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="/mapeamento">Mapeamento</a></li>         
                    </ul>

                    <div class="offcanvas-header">
                  
                    </div>
              </div>
            </div>
        </nav>
        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url({% static 'img/home_vector_img.jpg' %})"; height: "500px">
            <div class="container text-center my-5">
                <img class="img-fluid img-thumbnail rounded-circle mx-5" src="{% static 'img/logo_nesys_round.png' %}" height="200px" width="200px"/>
                <h1 class="text-white fs-3 fw-bolder">Encontre e ajude necessitados</h1>
                <h5 class="text-white-25 mb-50">Aqui você pode ver os necessitados e sua timeline!</h5>
            </div>
        </header>
        <!-- Content section-->
        <section class="py-5" style="background-color: #b3cff2; height: 700px;">
            <div class="container my-5">
                <div class="row justify-cotent-center">
                    <div class="col-lg-10">
                        <div class= "table-responsive thead-dark"  >
                            <h1 style="color: white;">Lista de Necessitados</h1>
                            <table class="table" border="1px">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="row">Nome</th>
                                        <th scope="row">Idade</th>
                                        <th scope="row">Logradouro</th>
                                        <th scope="row">Cpf</th>
                                        <th scope="row">Situação</th>
                                        <th scope="row">Profissão</th>
                                        <th scope="row">Gênero</th>
                                        <th scope="row">Cidade</th> 
                                    </tr>
                                </thead>
                                <tbody>     
                                    {% for Necessitado in necessitados_chave %}
                                    <td>
                                        <a href="{% url 'updateNecessitado' Necessitado.nec_id %}">{{ Necessitado.nec_nome }}</a>
                                    </td> 
                                    <td>
                                        {{Necessitado.nec_idade}}
                                    </td>
                                    <td>
                                        {{Necessitado.nec_logradouro}}
                                    </td>
                                    <td>
                                        {{Necessitado.nec_cpf}}
                                    </td>
                                    <td>
                                        {{Necessitado.nec_sit_id}} 
                                    </td>
                                    <td>
                                        {{Necessitado.nec_pro_id}} 
                                    </td>
                                    <td>
                                        {{Necessitado.nec_gen_id}}
                                    </td>
                                    <td>
                                        {{Necessitado.nec_cid_id}}
                                    </td>
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section><br>
        <!-- Content section-->
        <section class="py-5" style="background-color: #070540;">
            <div class="container my-5" >
                <div class="row justify-content-center">
                    <div class="col-lg-6" >
                        <h2>Timeline</h2>
                        <h5 class="lead">No futuro aqui existirá uma timeline com as ações dos usuários para cada necessitado</h5>
                        <h5 class="mb-0">No futuro aqui existirá uma timeline com as ações dos usuários para cada necessitado</h5>
                    </div>
                </div>
            </div>
        </section>
        <br style = background-color:#b3cff2>
        <!-- Footer-->
        <footer class="py-5 footer" style=background-color:#070540; >
            <div class="container"><h6 class="m-0 text-center text-white">Esse site tem como objetivo aproximar doadores e ajudantes dos necessitados, saiba de mais detalhes clicando nos links </h6>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
   
</html>
