<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href='{% static "css/global.css" %}'>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />

        <title>Mapeamento com api do google latitude e longitude</title>
        <style>
            #mapa{
                background-repeat: no-repeat;
                background-attachment: scroll;
                background-position: center;
                background-size: cover;
            }
        </style>
    </head>
  <body>
    <div id="mapa"></div>
    <script>
        // alterar função para estar preenchendo a localizacao manualmente
      function inicializar() {
        var coordenadas = {lat: -22.912869, lng: -43.228963};
        // utilizar um for each para conseguir registrar mais de uma localização no mapa
        var mapa = new google.maps.Map(document.getElementById('mapa'), {
          zoom: 15,
          center: coordenadas 
        });
        // marcador
        var marker = new google.maps.Marker({
          position: coordenadas,
          map: mapa,
          title: 'Meu marcador'
        });
      }
    </script>
    <script async defer
    # tem que criar uma conta de faturamento nas apis do google maps com um cartão de crédito
    # é a api com o sistema mais facil de usar apos fazer o tutorial de como criar uma chave no site do google
    # você cria sua conta gratuita com um cartão de credito
    # insere a chave onde está o link com o nome YOUR API KEY
    # O tipo do mapa que a gente irá usar é o geocoding api map pois ele é o mais adequado pra isso
     src="https://maps.googleapis.com/maps/api/geocode/json?address=1600+Amphitheatre+Parkway,+Mountain+View,+CA&key=YOUR_API_KEY">

    </script>
  </body>
</html>