{% extends "index.html" %}
{% block title %}<title>ONGs</title>{% endblock %}

{% block content %}

{% if ONG_chave %}
<div class="container-fluid row px-5 py-4">
    <div class="container-fluid px-4">
        <h2 class="mt-4">Tabela de ONGs</h2>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'main' %}">Inicio</a></li>
            <li class="breadcrumb-item active">ONGs</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                ONGs Registradas
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th scope="row">ONGs</th>
                            <th scope="row">Site</th>
                            <th scope="row">Logradouro</th>
                            <th scope="row">Telefones</th>
                            <th scope="row">E-mail</th>
                            <th scope="row">Cidade</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th scope="row">ONGs</th>
                            <th scope="row">Site</th>
                            <th scope="row">Logradouro</th>
                            <th scope="row">Telefones</th>
                            <th scope="row">E-mail</th>
                            <th scope="row">Cidade</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for ONG in ONG_chave %}
                        <tr> 
                            <td>
                                <a href="
                                {% if user.is_staff %}
                                    {% url 'updateONG' ONG.ong_id %}
                                {% endif %}
                                ">
                                    {{ ONG.ong_nome }}
                                </a>
                            </td> 
                            <td>
                                <a href="{{ONG.ong_site}}">
                                    {{ONG.ong_site}}
                                </a>
                            </td>
                            <td>
                                {{ONG.ong_logradouro}}
                            </td>
                            <td>
                                {% for tel in ONG_tel_chave %}
                                    {% if tel.ton_ong_id == ONG %}
                                        {{ tel }}<br>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for email in ONG_email_chave %}
                                    {% if email.emo_ong_id == ONG %}
                                        {{ email.emo_email }}<br>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {{ONG.ong_cid_id}}
                            </td>    
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}


    {% if user.is_staff %}
    <div class="container-fluid px-5 py-3">
        <h2 class="mt-4">
            {% if ONG_chave|length >= 1 %}
            Registrar uma Nova ONG
            {% else %}
            Editar {{ form_ONG.sit_ONG.value }}
            {% endif %}
        </h2>
        {% if not ONG_chave|length > 1 %}
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'main' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'createONG' %}">ONG</a></li>
            <li class="breadcrumb-item active">Editar</li>
        </ol>
        {% endif %}
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                {% if ONG_chave|length > 1 %}
                Registrar ONG
                {% else %}
                Cartão de Edição
                {% endif %}
            </div>
            
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {% for fields in form_ONG %}
                    <div class="mb-3">
                        {{ fields.label }}
                        {{ fields }}
                    </div>
                    {% endfor %}

                    {% if not ONG %}
                    <div class="mb-3">
                        {{ form_tel_ONG }}
                    </div>
                    {% else %}
                    <div class="mb-3">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="row">Telefones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for tel in ONG_tel_chave %}
                                {% if tel.ton_ong_id == ONG %}
                                <tr> 
                                    <td>
                                        <a href="{% url 'updateTelefone' ONG.ong_id tel.ton_id %}">
                                            {{tel}}
                                        </a>
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                                <tr>
                                    <td>
                                        <a href="{% url 'createTelefone' ONG.ong_id%}">
                                            Criar Telefone
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {% endif %}

                    {% if not ONG %}
                    <div class="mb-3">
                        {{ form_email_ONG }}
                    </div>
                    {% else %}
                    <div class="mb-3">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Emails</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for email in ONG_email_chave %}
                                {% if email.emo_ong_id == ONG %}
                                <tr> 
                                    <td>
                                        <a href="{% url 'updateEmail' ONG.ong_id email.emo_id %}">
                                            {{email}}
                                        </a>
                                    </td>
                                    
                                </tr>
                                {% endif %}
                                {% endfor %}
                                <tr>
                                    <td>
                                        <a href="{% url 'createEmail' ONG.ong_id%}">
                                            Criar Email
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                    <button class="btn btn-primary" type="submit">Enviar</button>
                </form>    
            </div>
        </div>    
    </div>
    {% endif %}
</div>
{% endblock %}