{% extends "index.html" %}
{% block title %}<title>Necessitados</title>{% endblock %}

{% block content %}

{% if necessitados_chave %}
<div class="container-fluid row px-5 py-4">
    <div class="container-fluid px-4">
        <h2 class="mt-4">Tabela de Necessitados</h2>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'main' %}">Inicio</a></li>
            <li class="breadcrumb-item active">Necessitados</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Necessitados Registrados
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th scope="row">Nome</th>
                            <th scope="row">Idade</th>
                            <th scope="row">Logradouro</th>
                            <th scope="row">Cpf</th>
                            <th scope="row">Situação</th>
                            <th scope="row">Profissão</th>
                            <th scope="row">Gênero</th>
                            <th scope="row">Cidade</th> 
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th scope="row">Nome</th>
                            <th scope="row">Idade</th>
                            <th scope="row">Logradouro</th>
                            <th scope="row">Cpf</th>
                            <th scope="row">Situação</th>
                            <th scope="row">Profissão</th>
                            <th scope="row">Gênero</th>
                            <th scope="row">Cidade</th> 
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for Necessitado in necessitados_chave %}
                        <tr> 
                            <td>
                                <a href="{% url 'createAtualizacao' Necessitado.nec_id %}">{{ Necessitado.nec_nome }}</a>
                            </td> 
                            <td>
                                {{Necessitado.nec_idade}}
                            </td>
                            <td>
                                {{Necessitado.nec_logradouro}}
                            </td>
                            <td>
                                {{Necessitado.nec_cpf}}
                            </td>
                            <td>
                                {{Necessitado.nec_sit_id}} 
                            </td>
                            <td>
                                {{Necessitado.nec_pro_id}} 
                            </td>
                            <td>
                                {{Necessitado.nec_gen_id}}
                            </td>
                            <td>
                                {{Necessitado.nec_cid_id}}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="container-fluid px-4">
        <h2 class="mt-4">
            Registrar um Novo Caso
        </h2>
        {% if not necessitados_chave|length > 1 %}
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'main' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'createNecessitado' %}">Necessitados</a></li>
            <li class="breadcrumb-item active">Editar</li>
        </ol>
        {% endif %}
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                {% if necessitados_chave|length > 1 %}
                Registrar Necessitado
                {% else %}
                Cartão de Edição
                {% endif %}
                
            </div>
            
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {% for fields in form_necessitado %}
                    <div class="mb-3">
                        {{ fields.label }}
                        {{ fields }}
                    </div>
                    {% endfor %}
                    <button class="btn btn-primary" type="submit">Enviar</button>
                </form>    
            </div>
        </div>    
    </div>
</div>
{% endblock %}