{% extends "index.html" %}
{% block title %}<title>Timeline</title>{% endblock %}

{% block content %}

{% if atualizacao_chave %}
<div class="container-fluid px-md-5 py-md-4">
    <div class="row ">
        <h2 class="mt-4 text-center mb-4">Atualizações de {{ necessitado_chave.nec_nome }}</h2>
        <div class="container">                      
            <div class="row">
                <div class="col">
                    <div class="timeline-steps aos-init aos-animate" data-aos="fade-up">
                        {% for atualizacao in atualizacao_chave %}
                        <div class="timeline-step">
                            <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2003">
                                <a class="inner-circle" href="/necessitado/{{necessitado_chave.nec_id}}/{{atualizacao.att_id}}"></a>
                                <p class="h6 mt-3 mb-1">{{ atualizacao.att_date|date:"d-m-Y"}} às {{ atualizacao.att_date|time:"H:i"}}</p>
                                <p class="h6 text-muted mb-0 mb-lg-0">{{ atualizacao.att_nec_nome}}</p>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="timeline-step">
                            <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2003">
                                <a class="inner-circle" href="{% url 'createAtualizacao' necessitado_chave.nec_id %}"></a>
                                <p class="h6 mt-3 mb-1">Criar Nova Atualiazação?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if atualizacao %}
            <div class="row">
                <div class="col">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            Atualizações realizadas até então
                        </div>
                        
                        <div class="card-body">
                            <div class="mb-3">
                                Nome
                                <input type="text" class="form-control" value="{{ atualizacao.att_nec_nome  }}" disabled>
                            </div>
                            <div class="mb-3">
                                Idade
                                <input type="text" class="form-control" value="{{ atualizacao.att_nec_idade  }}" disabled>
                            </div>
                            <div class="mb-3">
                                Logradouro
                                <input type="text" class="form-control" value="{{ atualizacao.att_nec_logradouro  }}" disabled>
                            </div>
                            <div class="mb-3">
                                CPF
                                <input type="text" class="form-control" value="{{ atualizacao.att_nec_cpf  }}" disabled>
                            </div>
                            <div class="mb-3">
                                Situação
                                <input type="text" class="form-control" value="{{ atualizacao.att_nec_sit_id  }}" disabled>
                            </div>
                            <div class="mb-3">
                                Profissão
                                <input type="text" class="form-control" value="{{ atualizacao.att_nec_pro_id  }}" disabled>
                            </div>
                            <div class="mb-3">
                                Gênero
                                <input type="text" class="form-control" value="{{ atualizacao.att_nec_gen_id  }}" disabled>
                            </div>
                            <div class="mb-3">
                                Cidade
                                <input type="text" class="form-control" value="{{ atualizacao.att_nec_cid_id  }}" disabled>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            Recomendação de ONGs
                        </div>
                        
                        <div class="card-body">
                            {% for ong in ongs_chave %}
                            {% if ong.ong_cid_id == atualizacao.att_nec_cid_id %}
                            <div class="mb-3">
                                ONG: <a href="{% url 'updateONG' ong.ong_id %}"> {{ ong.ong_nome }} </a>
                            </div>
                            <div class="mb-3">
                            {% endif %}
                            {% endfor %}
                            <div class="mb-3">
                                Não encontramos mais opções... Mas você pode registrar caso conheça alguma!
                                <a href="{% url 'createONG' %}">Registrar nova ONG</a>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
            {% else %}
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Registrar Atualização
                </div>
                
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {% for fields in form_necessitado %}
                        <div class="mb-3">
                            {{ fields.label }}
                            {{ fields }}
                        </div>
                        {% endfor %}
                        <button class="btn btn-primary" type="submit">Enviar</button>
                    </form>    
                </div>
            </div>   

            <div class="row">
                <div class="col">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            Recomendação de ONGs
                        </div>
                        
                        <div class="card-body">
                            {% for ong in ongs_chave %}
                            {% if ong.ong_cid_id.cid_id == form_necessitado.nec_cid_id.value %}
                            <div class="mb-3">
                                ONG: <a href="{% url 'updateONG' ong.ong_id %}"> {{ ong.ong_nome }} </a>
                            </div>
                            <div class="mb-3">
                            {% endif %}
                            {% endfor %}
                            <div class="mb-3">
                                Não encontramos mais opções... Mas você pode registrar caso conheça alguma!
                                <a href="{% url 'createONG' %}">Registrar nova ONG</a>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}