:root {
--A: #b3cff2;
--B: #3045BF;
--C: #262EBF;
--D: #07054036;
--E: #080705;
}

.color-A { 
    background-color: var(--A);
    color: white;
}

.color-B { 
    background-color: var(--B);
    color: white;
}

.color-outline-B { 
    color: var(--B);
    background-color: transparent;
    border-color: var(--B);
}

.color-outline-B:hover {
    color: #fff;
    background-color: var(--B);
    border-color: var(--B);
}

.color-C { 
    background-color: var(--C);
    color: white;
}

.color-D { 
    background-color: var(--D);
    color: white;
}

.color-E { 
    background-color: var(--E);
    color: white;
}

.color-W { 
    background-color: white;
}

.text-W { 
    color: white;
}

.text-A {
    color: var(--A);
}

.text-B {
    color: var(--B);
}

.text-C {
    color: var(--C);
}

.text-D {
    color: var(--D);
}

.text-shadow {
    text-shadow: 2px 2px 2px black;
}

.linear-edit {
    background: linear-gradient(to bottom right, #89ceff, #192bc2);
}

.linear-edit-2 {
    background: linear-gradient(to right, rgb(178,208,242), #192bc2);
}

